<%= form_with(model: testis, local: true) do |form| %>
  <% if testis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testis.errors.count, "error") %> prohibited this testis from being saved:</h2>

      <ul>
      <% testis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a %>
    <%= form.text_field :a %>
  </div>

  <div class="field">
    <%= form.label :b %>
    <%= form.text_field :b %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.text_field :c %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
