<p id="notice"><%= notice %></p>

<h1>Testes</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testes.each do |testis| %>
      <tr>
        <td><%= testis.a %></td>
        <td><%= testis.b %></td>
        <td><%= testis.c %></td>
        <td><%= link_to 'Show', testis %></td>
        <td><%= link_to 'Edit', edit_testis_path(testis) %></td>
        <td><%= link_to 'Destroy', testis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testis', new_testis_path %>
