<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @testis.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @testis.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @testis.c %>
</p>

<%= link_to 'Edit', edit_testis_path(@testis) %> |
<%= link_to 'Back', testes_path %>
