<!DOCTYPE html>
<html>
  <head>
    <title>NovoProjeto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>Cabeçalho - ADM</h3>
    <%= yield %>
    <h3>Rodapé - ADM</h3>
  </body>
</html>
